#parallax-main {
    background-image: url("/images/abbienewcar26679web.jpg");
    background-position:center;
}

#parallax-main > nav button {
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.begn {
    background-image: url("/images/abbienewcar26679web.jpg");
    background-repeat:no-repeat;
    height: 600px;

    
}
#parallax_one {
    background-image: url("/images/greatwall2119.jpg");

    height: 600px;
 
}
#parallax_two { 
    background-image: url("/images/aberdeenapartments2961.jpg");
    height: 600px;
    background-repeat:no-repeat;

}
#parallax_three {
   background-image: url("/images/england2217.jpg");
   height: 600px;
   background-repeat:no-repeat;
}

#parallax_four {
    background-image: url("/images/viewfromourroom6684.jpg");
    height: 600px;
    background-repeat:no-repeat;
    
}

.parallax_wrapper {
    background-color: rgba(173, 216, 230, 0.256);
    color:red;
    font-weight:bold;
    width: 500px;
    height: 260px;
    border-radius: 25px;
    padding-top: 3rem;
    padding-left: 4rem;
    margin: 0rem;
}

.parallax_effect {
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
footer {
    background-color:cornsilk;
    height: 100px;

}
